<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fiskinfo3 Sintium App</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/dc/3.0.8/dc.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://openlayers.org/en/latest/css/ol.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link href="./css/sintium.css" rel="stylesheet">
    <link href="./css/fiskinfo.css" rel="stylesheet">

</head>
<body>

<div id="map"></div>

<div id="vessel-info-template" class="info">
    <div class="info-header">
        <div class="info-vessel-header-icon">
            {{ if (it.shipType == 30) { }}
            <img src="./images/boat_brown.svg" style="transform: rotate({{=it.cog}}deg);" />
            {{ } else { }}
            <img src="./images/boat_gray.svg" style="transform: rotate({{=it.cog}}deg);" />
            {{ } }}
        </div>
        <div class="info-header-title">
            <div class="info-header-title-no-break">{{=it.title}}</div>
            <div>{{=it.subtitle}}</div>
        </div>
    </div>
    <div class="info-container">
        <div class="info-column">
            <div class="info-vessel-panels">
                <div class="info-vessel-panel-left">
                    <h4>Fart</h4>
                    <div>{{=it.sog}} knop</div>
                </div>
                <div class="info-vessel-panel-right">
                    <h4>Kurs</h4>
                    <div>{{=it.cog}} °</div>
                </div>
            </div>
        </div>
        <h3 class="info-title dashed-bottom-border">Om Fartøyet</h3>
        {{? it.info }}
        {{ for(var infoLabel in it.info) { }}
        <div class="info-column pad-row">
            <div class="label">{{=infoLabel}}</div>
            <span>{{=it.info[infoLabel]}}</span>
        </div>
        {{ } }}
        {{?}}
        <h3 class="info-title dashed-bottom-border">Redskap</h3>
        {{ if (it.hasTools) { }}
            <ul class="collapsible popout">
                {{ for(var index in it.tools) { }}
                    <li>
                        <div class="collapsible-header">{{=it.tools[index].type}}</div>
                        <div class="collapsible-body">
                            {{ for(var label in it.tools[index].info) { }}
                            <div class="info-tools-item">
                                    <i class='material-icons prefix small'>
                                        {{=it.tools[index].info[label].icon}}
                                    </i>
                                    <div class="info-tools-item-name">{{=label}}</div>
                                    <div>{{=it.tools[index].info[label].value}}</div>
                            </div>
                            {{ } }}
                            <a href="javascript:locateTool({{=it.tools[index].key}})" class="collection-item">Se redskapet</a>
                        </div>
                    </li>
                {{ } }}
            </ul>
        {{ } else { }}
            <div class="no-tools-container">
                Ingen redskaper
            </div>
        {{ } }}
        <h3 class="info-title dashed-bottom-border">Mer Info</h3>
        <div class="info-column pad-row">
            <div class="label">Fiskerimeldinger</div>
            <a href='https://www.fiskeridir.no/Yrkesfiske/Regelverk-og-reguleringer/Fiskerimeldinger'>Fiskerimeldinger</a>
        </div>
        <div class="info-column pad-row">
            <div class="label">J-meldinger</div>
            <a href='https://www.fiskeridir.no/Yrkesfiske/Regelverk-og-reguleringer/J-meldinger/Gjeldende-J-meldinger/'>J-meldinger</a>
        </div>
    </div>
</div>

<div id="info-template" class="info">
    <div class="info-header">
        {{? it.icon }}
        <div class="info-header-icon" style="color: {{=it.iconColor}};">
            <i class="{{=it.icon}}"></i>
        </div>
        {{?}}
        <div class="info-header-title">
            <div class="info-header-title-no-break">{{=it.title}}</div>
            <div>{{=it.subTitle}}</div>
        </div>
    </div>
    {{ if (it.description) { }}
    <div class="info-row pad-row-big">
        {{=it.description}}
    </div>
    {{ } }}
    <div class="info-container">
        <div class="info-column">
            {{? it.info }}
            {{ for(var infoLabel in it.info) { }}
            <div class="info-column pad-row">
                <div class="label">{{=infoLabel}}</div>
                {{ if (it.info[infoLabel]) { }}
                    <span>{{=it.info[infoLabel]}}</span>
                {{ } else { }}
                    <span>Mangler</span>
                {{ } }}
            </div>
            {{ } }}
            {{?}}

            {{? it.infoWithHeader }}
            {{ for(var header in it.infoWithHeader) { }}
                <h3 class="info-title dashed-bottom-border">{{=header}}</h3>
                {{ for(var infoLabel in it.infoWithHeader[header]) { }}
                    <div class="info-column pad-row">
                        <div class="label">{{=infoLabel}}</div>
                        {{ if (it.infoWithHeader[header][infoLabel]) { }}
                            <span>{{=it.infoWithHeader[header][infoLabel]}}</span>
                        {{ } else { }}
                            <span>Mangler</span>
                        {{ } }}
                    </div>
                {{ } }}
            {{ } }}
            {{?}}

            {{? it.infoWithIcon }}
            {{ for(var infoLabel in it.infoWithIcon) { }}
            <div class="info-row dashed-bottom-border">
                <i class="{{=it.infoWithIcon[infoLabel].icon}}"></i>
                {{? it.infoWithIcon[infoLabel].value }}
                <span>
                                {{ if(infoLabel.charAt(0) != "_") { }}
                                    {{=infoLabel}}:
                                {{ } }}
                                {{=it.infoWithIcon[infoLabel].value}}
                    </span>
                {{?}}
            </div>
            {{ } }}
            {{?}}
        </div>

        {{? it.moreInfoFish }}
        <h3 class="info-title dashed-bottom-border">Mer Info</h3>
        <div class="info-column pad-row">
            <div class="label">Fiskerimeldinger</div>
            <a href='https://www.fiskeridir.no/Yrkesfiske/Regelverk-og-reguleringer/Fiskerimeldinger'>Fiskerimeldinger</a>
        </div>
        <div class="info-column pad-row">
            <div class="label">J-meldinger</div>
            <a href='https://www.fiskeridir.no/Yrkesfiske/Regelverk-og-reguleringer/J-meldinger/Gjeldende-J-meldinger/'>J-meldinger</a>
        </div>
        {{?}}

        {{? it.moreInfoOil }}
        <h3 class="info-title dashed-bottom-border">Mer Info</h3>
        <div class="info-column pad-row">
            <div class="label">Oljedirektoratets faktasider</div>
            <a href='https://www.fiskeridir.no/Yrkesfiske/Regelverk-og-reguleringer/Fiskerimeldinger'>Oljedirektoratets faktasider</a>
        </div>
        <div class="info-column pad-row">
            <div class="label">Oljedirektoratets kart</div>
            <a href='https://www.fiskeridir.no/Yrkesfiske/Regelverk-og-reguleringer/J-meldinger/Gjeldende-J-meldinger/'>Oljedirektoratets kart</a>
        </div>
        {{?}}

    </div>
</div>

<script>

    if (!App) {
        let App = {};
    }

</script>

<!-- Library imports -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script type="text/javascript" src="./javascript/libs/crossfilter.min.js"></script>
<script type="text/javascript" src="./javascript/libs/d3.min.js"></script>
<script type="text/javascript" src="./javascript/libs/jquery.min.js"></script>
<script type="text/javascript" src="./javascript/libs/dc.min.js"></script>
<script type="text/javascript" src="./javascript/libs/ol.min.js"></script>
<script type="text/javascript" src="./javascript/libs/sintium.min.js"></script>

<!-- App imports -->
<script type="text/javascript" src="./javascript/CommonVariables.js"></script>
<script type="text/javascript" src="./javascript/HelperFunctions.js"></script>
<script type="text/javascript" src="./javascript/BottomSheets.js"></script>
<script type="text/javascript" src="./javascript/VesselsLayer.js"></script>
<script type="text/javascript" src="./javascript/SeaBottomInstallationsLayer.js"></script>
<script type="text/javascript" src="./javascript/MaritimeBoardersLayer.js"></script>
<script type="text/javascript" src="./javascript/FishRegulationGroup.js"></script>
<script type="text/javascript" src="./javascript/SeismicGroup.js"></script>
<script type="text/javascript" src="./javascript/IceGroup.js"></script>
<script type="text/javascript" src="./javascript/TradeAreaGroup.js"></script>
<script type="text/javascript" src="./javascript/ToolsLayer.js"></script>
<script type="text/javascript" src="./javascript/BuildVesselLookup.js"></script>
<script type="text/javascript" src="./javascript/Map.js"></script>
<script type="text/javascript" src="./javascript/ExposedFunctions.js"></script>

</body>
</html>
